header {
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('images/hotel-building.jpg') center/cover no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5em;
}
